/*A user*/
[user_by_bdfdb="264062457448759296"] .pointerEvents-2zdfdO, [data-user-id="264062457448759296"] .pointerEvents-2zdfdO{
    fill: #ffe21d;
}

.userPopout-3XzG_A [user_by_bdfdb*="264062457448759296"]:hover .pointerEvents-2zdfdO, .userPopout-3XzG_A [data-user-id*="264062457448759296"]:hover .pointerEvents-2zdfdO{
    fill: rgb(114, 101, 14);
}

/*apleDiscord*/
[user_by_bdfdb="438846426441711616"] .pointerEvents-2zdfdO, [data-user-id="438846426441711616"] .pointerEvents-2zdfdO{
    fill: #69C9D4;
}

/*Chicada*/
[user_by_bdfdb="717945200877502505"] .pointerEvents-2zdfdO, [data-user-id="717945200877502505"] .pointerEvents-2zdfdO{
    fill: #5d4554;
}

/*💕*/
[user_by_bdfdb="307273349997002752"] .pointerEvents-2zdfdO, [data-user-id="307273349997002752"] .pointerEvents-2zdfdO{
    fill: #EAA5AB;
}

/*Larvey*/
[user_by_bdfdb="245653078794174465"] .pointerEvents-2zdfdO, [data-user-id="245653078794174465"] .pointerEvents-2zdfdO{
    fill: #533c99;
}
